.WrapperStyles svg.SystemUIcons {
  color: #f0f;
}

.WrapperStyles svg.SystemUIcons.SystemUIcons-small {
  width: 6.5rem;
  height: 6.5rem;
}

.WrapperStyles svg.SystemUIcons.SystemUIcons-primary {
  color: #0f0;
}
